<div class="flash-message">
  <span class="message">
    チャットグループが作成されました。
  </span>
</div>

<div class="chat">
  <div class="chat-side">
    <div class="side-user">
      <span class="side-user__user-name">yuta</span>
      <a href="#"><i class="fa fa-pencil fa-write" aria-hidden="true"></i></a>
      <a class="side-user__setting-icon" href="#"><i class="fa fa-cog fa-setting" aria-hidden="true"></i></a>
    </div>
    <div class="side-group">
      <%= render partial: 'group' %>
      <%= render partial: 'group' %>
    </div>
  </div>
  <div class="chat-main">
    <div class="main-group">
      <span class="main-group__group-name">
        testroom
      </span>
      <span class="main-group__edit-button">
        Edit
      </span>
      <span class="main-group__group-members">
        Members:yuta
      </span>
    </div>
    <div class="main-message">
      <%= render partial: 'message' %>
      <%= render partial: 'message' %>
      <%= render partial: 'message' %>
    </div>
    <div class="main-form">
      <div class="main-form__input-area">
        <form method="post" enctype="multipart/form-data">
          <input type="text" class="main-form__input-area__text" value="type a message">
          <label>
            <input type="file" class="main-form__input-area__image" accept="image/*" style="display:none">
            <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
          </label>
        </form>
      </div>
      <div class="main-form__submit-button">
        Send
      </div>
    </div>
  </div>
</div>
