.chat
  .chat-side
    .side-header
      %span.side-header__user-name
        = current_user.name
      %a.side-header__new-icon
        = link_to new_group_path do
          %i.fa.fa-pencil.fa-write{"aria-hidden" => "true"}
      %a.side-header__setting-icon
        = link_to edit_user_registration_path do
          %i.fa.fa-cog.fa-setting{"aria-hidden" => "true"}
    .side-contents
      = render partial: 'shared/group'
  .chat-contents
    .contents-header
      %span.contents-header__group-name
        = @group.name
      %span.contents-header__edit-button
        = link_to edit_group_path(@group) do
          Edit
      %span.contents-header__group-members
        %ul
          Members:
          - @group.users.each do |user|
            %li
            = user.name
    .contents-main
      - @messages.each do |message|
        = render partial: 'message', locals: {message: message}
    .contents-footer
      .message-form
        = form_for [@group, @message] do |f|
          = f.text_field :body, placeholder:"type a message", class:"message-form__text"
          = f.label :image do
            = f.file_field :image, style: "display:none"
            %i.fa.fa-picture-o.fa-2x{"aria-hidden" => "true"}
          = f.submit "Send", class: "message-form__submit-button"
