= form_for group do |f|
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        .error_number #{@full_messages.length}件のエラーです
        - @full_messages.each do |message|
          %ul
            %li
              = message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = label_tag "chat_group_name", "グループ名" , class:"chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class:"chat-group-form__input"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = label_tag "chat_group_チャットメンバーを追加", "チャットメンバーを追加", class:"chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        = text_field_tag "user-search-field", "", placeholder: "追加したいユーザー名を入力してください", class:"chat-group-form__input"
        .user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = label_tag "chat_group_チャットメンバー", "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right#chat-member
      .chat-group-user.clearfix.js-chat-member{id: current_user.id}
        = hidden_field_tag "group[user_ids][]", current_user.id
        %p.chat-group-user__name
          = current_user.name

      - @group.users.each do |user|
        - if user.id != current_user.id
          .chat-group-user.clearfix.js-chat-member{id: user.id}
            = hidden_field_tag "group[user_ids][]", user.id
            %p.chat-group-user__name
              = user.name
            = link_to "削除", "", class:"user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn", "data-user-id": user.id
            / %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn{"data-user-id": user.id }
            /   削除

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", name: "commit", class: "chat-group-form__action-btn"
